.background5 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div19 {
  width: 55px;
  position: relative;
  letter-spacing: -0.3px;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.battery-icon1,
.mobile-signal-icon1,
.wifi-icon1 {
  height: 10.7px;
  width: 17px;
  position: relative;
  z-index: 1;
}
.battery-icon1,
.wifi-icon1 {
  height: 11px;
  width: 15.3px;
}
.battery-icon1 {
  height: 10.5px;
  width: 24.5px;
  object-fit: cover;
}
.signal-icons {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.bars-status-bar-iphone-x1,
.signal-icons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-3) 0 0;
}
.bars-status-bar-iphone-x1 {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-smi) var(--padding-xs)
    var(--padding-2xl);
  position: relative;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
  font-family: var(--font-caramel);
}
.back-icon {
  width: 9.4px;
  height: 17.5px;
  position: relative;
  flex-shrink: 0;
}
.back-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  flex-shrink: 0;
}
.a {
  text-decoration: none;
  position: fixed;
  letter-spacing: -0.33px;
  line-height: 21px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 67px;
  flex-shrink: 0;
  white-space: nowrap;
  left: 150px;
}
.frame-group {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  gap: var(--gap-110xl-6);
}
.bars-status-bar-iphone-x-parent,
.frame-container,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-container {
  width: 237px;
  flex-direction: row;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
}
.bars-status-bar-iphone-x-parent {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-xs);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-gray-200);
  font-family: var(--font-caramel);
}
